<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem nobis culpa, quo ex ipsam quisquam repellendus vitae libero dolores obcaecati eum illo excepturi consequuntur vel hic odio quod nostrum ipsa. Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Repudiandae saepe excepturi quas cupiditate veritatis laborum voluptatum, aperiam obcaecati doloribus dolorem vel dolores provident amet sequi nisi inventore mollitia nesciunt enim.
</p>